 /* For Desktop View */
 @media screen and (min-width: 1024px) {
     .purchase-box {
         display: block;
     }

     .basket {
         display: none;
     }
 }

 /* For Tablet View */
 @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

 /* For Mobile Portrait View */
 @media screen and (max-device-width: 480px) and (orientation: portrait) {
     .purchase-box {
         display: none;
     }

     #sign {
         width: max-content;
         font-size: 19px;
         padding-top: 15px;
     }
 }

 /* For Mobile Landscape View */
 @media screen and (max-device-width: 640px) and (orientation: landscape) {
     .purchase-box {
         display: none;
     }

     #sign {
         width: max-content;
         font-size: 19px;
         padding-top: 15px;
     }

     .basket {
         display: block;
     }
 }

 /* For Mobile Phones Portrait or Landscape View */
 @media screen and (max-device-width: 640px) {
     .purchase-box {
         display: none;
     }

     #sign {
         width: max-content;
         font-size: 19px;
         padding-top: 15px;
     }

     .basket {
         display: block;
     }
 }



 /*-- TABLET --*/
 @media(min-width: 641px) {
     .basket {
         display: block;
     }
 }

 /*-- SMALL DESKTOP --*/
 @media(min-width: 768px) {
     .purchase-box {
         display: none;
     }

     #sign {
         width: max-content;
         font-size: 35px;
         padding-top: 15px;
     }
 }

 /*-- DESKTOP --*/
 @media(min-width: 992px) {}

 /*-- BIG DESKTOP (rarely used, but can be useful) --*/
 @media(min-width: 1280px) {
     .purchase-box {
         display: block;
     }

     .basket {
         display: none;
     }
 }