.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.74);
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
}

.box-user-dashboard {
    background-color: transparent;
}

.purchase-box {
    margin-left: -115px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

.modal__header {
    border-bottom: 1px solid rgb(49, 48, 48);
    border-radius: 10%;
}

.modal__footer {
    border-top: 1px solid rgb(49, 48, 48);
    border-radius: 10%;
}